<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Cannaber - Find weed nearby and get it delivered tgo your door!">
	<meta name="author" content="Ansonika">
	<title>CannaberProviders - Find weed nearby and get it delivered to your door!</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
		href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
		href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">

</head>

<body>
	<div id="page">
		<div id="headerArea"></div>

		<main>
			<div id="navagationbar">
				<div class="container">
				</div>
			</div>

			<div class="container margin_120">
				<div class="row justify-content-center">
					<div class="col-lg-8">

						<div class="form-group">
							<label for="emailAddress">Email address</label>
							<input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp"
								placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with
								anyone else.</small>
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea class="form-control" id="message" rows="3"
								placeholder="Your message to us"></textarea>
						</div>

						<button onclick='$.sendMessage()' class="btn btn-primary">Submit</button>

					</div>
				</div>
			</div>
		</main>
	</div>

	<div id="toTop"></div>

	<!-- COMMON SCRIPTS -->

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="/assets/js/header.js"></script>
	<script>
		$(document).ready(function () {
			$.sendMessage = function () {
				$.post("/api/contact/sendmessage", {
					emailAddress: $('#emailAddress').val(),
					message: $('#message').val()
				})
					.done(function (data) {
						alert("Thank you!");
						$('#emailAddress').val('');
						$('#message').val('');
					});
			}
		});
	</script>
</body>

</html>